.userbutton-main {
  position: relative;
  height: 122px;
  padding: 0 4px;
  margin: 0 1px 0 0px;
}

.app-btn.userbutton-btn {
  width: 70px;
}

.userbutton-img {
  position: absolute;
  display: block;
  margin-bottom: 8px;
  margin-top: 4px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
}

.userbutton-has-story .userbutton-btn::before {
  content: ' ';
  position: absolute;
  top: 24px;
  left: 8px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transform: rotate(45deg);
  background: linear-gradient(to top, #ff7705, #ca007f)
}

.userbutton-title {
  display: block;
  color: #262626;
  font-size: 12px;
  line-height: 14px;
  max-width: 64px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  top: 74px;
  white-space: nowrap;
  font-weight: 400;
}