.userbutton-main {
  position: relative;
  padding: 0 4px;
  margin: 0 1px 0 0px;
}

.app-btn.userbutton-btn {
  width: auto;
  height: auto;
  display: block;
  position: relative;
}

/* width and height must be set in the element */
.userbutton-img {
  position: relative;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
}

.userbutton-img-container {
  position: relative;
}

.userbutton-has-story .userbutton-img-container::before {
  content: ' ';
  position: absolute;
  top: -3%;
  left: -3%;
  width: 106%;
  height: 106%;
  border-radius: 50%;
  transform: rotate(45deg);
  background: linear-gradient(to top, #ff7705, #ca007f)
}

.userbutton-title {
  display: block;
  color: #262626;
  font-size: 12px;
  line-height: 14px;
  max-width: 64px;
  margin: 8px 0 2px 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}